@model frecevents.web.Models.EventInfoModel

@{
    ViewBag.Title = Model.Title + " - Freedom Run";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="header-parall" data-stellar-background-ratio="0.8">
</div>

<div class="bg-secondary2 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_12 wow fadeInUp" data-wow-delay="0.2s">
                <h3 class='well center h-cont'>@Model.Title</h3>
            </div><!--/grid-->
            <div class="grid_6 bg-secondary2">
                <div class="grid_5 bg-secondary1" data-wow-delay="0.4s">
                    <div class="grid_1 box-cont1 mrg0 center">
                        <img src="~/images/cal_icon.png" />
                    </div>
                    <div class="grid_4 bg-secondary1">
                        <h4 class="center">@Model.FormatDateRange(frecevents.web.Models.EventModel.DateFormat.Normal)</h4>
                    </div>
                </div>
                <div class="grid_5 bg-secondary2" data-wow-delay="0.4s">&nbsp;</div>
                <div class="grid_5 bg-secondary1" data-wow-delay="0.4s">
                    <div class="grid_1 box-cont1 mrg0 center">
                        <img src="~/images/register_icon.png" />
                    </div>
                    <div class="grid_4 bg-secondary1">
                        @if (Root.Login == null)
                        {
                            <div>@Html.ActionLink("Log in to register for an event", "Login", "Home", routeValues: new { @return= Request.Path}, htmlAttributes: null)</div>
                        }
                        else
                        {
                            <div>
                                @using (Html.BeginForm())
                                {
                                    var message = "";
                                    var instructions = "";
                                    var action = "";
                                    if (Model.CurrentRegistration.RiderID == 0)
                                    {
                                        <div>Select a rider from the list below to register</div>
                                    }
                                    else
                                    {
                                        <div>
                                            @{
                                            var name = (from r in Model.Riders where r.ID == Model.CurrentRegistration.RiderID select r.Name).FirstOrDefault();
                                            var tspace = Math.Abs(Model.CurrentRegistration.TrailerSpace);
                                            var lspace = Math.Abs(Model.CurrentRegistration.LodgingSpace);
                                            if (Model.CurrentRegistration.Registered)
                                            {
                                                message = name + " will be attending this event.";
                                                instructions = "You may update the information below and click 'Update' or click 'I'm not going'";
                                                action = "Update";
                                            }
                                            else
                                            {
                                                message = name + " will NOT be attending this event.";
                                                instructions = "Fill out the information below and click 'I'm going!'.";
                                                action = "I'm going!";
                                            }
                                            }
                                            <div>@message</div>
                                            <div style="font-size: smaller; line-height: normal">@instructions</div>
                                            @if (Model.Trailers)
                                            {
                                                <div>
                                                    <select name="traileroption">
                                                        <option value="1" @(Model.CurrentRegistration.TrailerSpace > 0 ? "selected" : "")>I have space in my trailer for</option>
                                                        <option value="-1" @(Model.CurrentRegistration.TrailerSpace <= 0 ? "selected" : "")>I need space in a trailer for</option>
                                                    </select>
                                                    <select name="trailerspace">
                                                        <option value="0" @(tspace == 0 ? "selected" : "")>0</option>
                                                        <option value="1" @(tspace == 1 ? "selected" : "")>1</option>
                                                        <option value="2" @(tspace == 2 ? "selected" : "")>2</option>
                                                        <option value="3" @(tspace == 3 ? "selected" : "")>3</option>
                                                        <option value="4" @(tspace == 4 ? "selected" : "")>4</option>
                                                        <option value="5" @(tspace == 5 ? "selected" : "")>5</option>
                                                        <option value="6" @(tspace == 6 ? "selected" : "")>6</option>
                                                        <option value="7" @(tspace == 7 ? "selected" : "")>7</option>
                                                        <option value="8" @(tspace == 8 ? "selected" : "")>8</option>
                                                        <option value="9" @(tspace == 9 ? "selected" : "")>9</option>
                                                    </select>
                                                    horse(s)
                                                </div>
                                            }
                                            @if (Model.Lodging)
                                            {
                                                <div>
                                                    <select name="lodgingoption">
                                                        <option value="1" @(Model.CurrentRegistration.LodgingSpace > 0 ? "selected" : "")>I have space in my hotel room for</option>
                                                        <option value="-1" @(Model.CurrentRegistration.LodgingSpace <= 0 ? "selected" : "")>I need space in a hotel room for</option>
                                                    </select>
                                                    <select name="lodgingspace">
                                                        <option value="0" @(lspace == 0 ? "selected" : "")>0</option>
                                                        <option value="1" @(lspace == 1 ? "selected" : "")>1</option>
                                                        <option value="2" @(lspace == 2 ? "selected" : "")>2</option>
                                                        <option value="3" @(lspace == 3 ? "selected" : "")>3</option>
                                                        <option value="4" @(lspace == 4 ? "selected" : "")>4</option>
                                                        <option value="5" @(lspace == 5 ? "selected" : "")>5</option>
                                                        <option value="6" @(lspace == 6 ? "selected" : "")>6</option>
                                                        <option value="7" @(lspace == 7 ? "selected" : "")>7</option>
                                                        <option value="8" @(lspace == 8 ? "selected" : "")>8</option>
                                                        <option value="9" @(lspace == 9 ? "selected" : "")>9</option>
                                                    </select>
                                                    person(s)
                                                </div>
                                            }
                                            <div>@Html.CheckBoxFor(model => model.CurrentRegistration.FoodVolunteer) I am willing to bring a food item for everyone</div>
                                            <div>Comment (short):<br/>
                                            @Html.TextAreaFor(model => model.CurrentRegistration.Notes)
                                            </div>
                                            <div>@Html.CheckBoxFor(model => model.CurrentRegistration.Request) Please register for this event on my behalf</div>
                                            <div class="disclaimer">
                                                This option is available only for riders that have given their registration information
                                                (including payment information) to Freedom Run
                                            </div>
                                            <input name="action" type="submit" value="@action" />
                                            @if (Model.CurrentRegistration.Registered)
                                            {
                                                <input type="submit" name="unregister" value="I'm not going"/>
                                            }
                                        </div>
                                    }
                                    <div style="margin-top: 10px;">
                                        <select name="newrider" onchange="javascript: document.forms[0].submit()">
                                                    <option value="0">Select @(Model.CurrentRegistration.RiderID==0 ? "a" : "another") rider...</option>
                                            @foreach (var rider in Model.Riders)
                                            {
                                                <option value="@rider.ID">@rider.Name</option>
                                            }
                                        </select>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="grid_5 bg-secondary2" data-wow-delay="0.4s">&nbsp;</div>
            </div>
            <div class="grid_6 wow fadeInRight bg-secondary1" data-wow-delay="0.4s">
                <div class="grid_1 box-cont1 mrg0 center">
                    <img src="~/images/location_icon.png" />
                </div>
                <div class="grid_5 bg-secondary1">
                    <h4 class="center">@Model.EventSite</h4>
                    @if (!String.IsNullOrWhiteSpace(Model.SiteURL))
                    {
                        <p class="icon-box-cont center"><a href="http://@Model.SiteURL" target="_blank">@Model.SiteURL</a></p>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.MapUrl))
                    {
                        <div class="center">
                            <iframe src="@Model.MapUrl" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary1 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_1 box-cont1 mrg0 center" data-wow-delay="0.2s">
                <img src="~/images/info_icon.png" />
            </div><!--/grid-->
            <div class="grid_11 wow fadeInDown" data-wow-delay="0.4s">
                <div class="markdown">@Html.Raw(Model.DescriptionHTML)</div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary2 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_6 bg-secondary1">
                <div class="grid_1 box-cont1 mrg0 center" data-wow-delay="0.2s">
                    <img src="~/images/riders_icon.png" />
                </div><!--/grid-->
                <div class="grid_5 wow fadeInDown" data-wow-delay="0.4s">
                    @{
                        var totalTrailerSpace = Model.Registrations.Sum(reg => reg.TrailerSpace);
                        var trailermessage = "";
                        if (totalTrailerSpace < 0)
                        {
                            trailermessage = "Overall, we NEED space for " + Math.Abs(totalTrailerSpace).ToString() + " horses";
                        }
                        else
                        {
                            trailermessage = "We have space for " + Math.Abs(totalTrailerSpace) + " more horses in our trailers";
                        }

                        var totalLodgingSpace = Model.Registrations.Sum(reg => reg.LodgingSpace);
                        var lodgingmessage = "";
                        if (totalLodgingSpace < 0)
                        {
                            lodgingmessage = "Overall, we NEED space for " + Math.Abs(totalLodgingSpace).ToString() + " people";
                        }
                        else
                        {
                            lodgingmessage = "We have space for " + Math.Abs(totalLodgingSpace).ToString() + " people";
                        }
                        var riderlist =
                            from reg in Model.Registrations
                            join rdr in Model.Riders on reg.RiderID equals rdr.ID
                            orderby rdr.Name
                            select new {
                                name = rdr.Name, 
                                traileroption = (reg.TrailerSpace > 0) ? "has room in a trailer for " : "needs room in a trailer for ", 
                                trailerspace = Math.Abs(reg.TrailerSpace), 
                                lodgingoption = (reg.LodgingSpace > 0) ? "has room in a hotel for " : "needs room in a hotel for ", 
                                lodgingspace = Math.Abs(reg.LodgingSpace), 
                                notes = reg.Notes, 
                                foodvolunteer = reg.FoodVolunteer,
                                request = (reg.RegistrationRequest < 3) ? "Please register me for the event" : "I will register myself"};
                    }
                    @if (Model.Trailers)
                    {
                        <div style="margin-bottom: 10px;">@trailermessage</div>
                    }
                    @if (Model.Lodging)
                    {
                        <div style="margin-bottom: 10px;">@lodgingmessage</div>
                    }
                    @foreach (var rider in riderlist)
                    {
                        <div>
                            <div style="font-weight: bold; margin-top: 5px; margin-bottom: 0px;">@rider.name</div>
                            <div style="margin-left: 20px; line-height: normal">
                                @if (Model.Trailers && rider.trailerspace != 0)
                                {
                                    <div>@rider.traileroption @rider.trailerspace horse(s)</div>
                                }
                                @if (Model.Lodging && rider.lodgingspace != 0)
                                {
                                    <div>@rider.lodgingoption @rider.lodgingspace people</div>
                                }
                                @if (@rider.foodvolunteer)
                                {
                                    <div>Willing to bring food item</div>
                                }
                                <div>@rider.request</div>
                                @if(!String.IsNullOrWhiteSpace(rider.notes))
                                {                                    
                                    <div>&quot;@rider.notes &quot;</div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="grid_6 bg-secondary1">
                <div class="grid_1 box-cont1 mrg0 center" data-wow-delay="0.2s">
                    <img src="~/images/results_icon.png" />
                </div><!--/grid-->
                <div class="grid_5 wow fadeInDown" data-wow-delay="0.4s">
                    Results list
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "List")
</p>
