@model frecevents.web.Models.EventInfoModel

@{
    ViewBag.Title = Model.Title + " - Freedom Run";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="header-parall" data-stellar-background-ratio="0.8">
</div>

<div class="bg-secondary2 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_12 wow fadeInUp" data-wow-delay="0.2s">
                <h3 class='well center h-cont'>@Model.Title</h3>
            </div><!--/grid-->
            <div class="grid_6 bg-secondary2">
                <div class="grid_5 bg-secondary1" data-wow-delay="0.4s">
                    <div class="grid_1 box-cont1 mrg0 center">
                        <img src="~/images/cal_icon.png" />
                    </div>
                    <div class="grid_4 bg-secondary1">
                        <h4 class="center">@Model.FormatDateRange(frecevents.web.Models.EventModel.DateFormat.Normal)</h4>
                    </div>
                </div>
                <div class="grid_5 bg-secondary2" data-wow-delay="0.4s">&nbsp;</div>
                <div class="grid_5 bg-secondary1" data-wow-delay="0.4s">
                    <div class="grid_1 box-cont1 mrg0 center">
                        <img src="~/images/register_icon.png" />
                    </div>
                    <div class="grid_4 bg-secondary1">
                        @if (Root.Login == null)
                        {
                            <div>@Html.ActionLink("Log in to register for an event", "Login", "Home", routeValues: new { @return= Request.Path}, htmlAttributes: null)</div>
                        }
                        else
                        {
                            <div>
                                @using (Html.BeginForm())
                                {
                                    var message = "";
                                    var instructions = "";
                                    var action = "";
                                    if (Model.CurrentRegistration.RiderID == 0)
                                    {
                                        <div>Select a rider from the list below to register</div>
                                    }
                                    else
                                    {
                                        <div>
                                            @{
                                            var name = (from r in Model.Riders where r.ID == Model.CurrentRegistration.RiderID select r.Name).FirstOrDefault();
                                            if (Model.CurrentRegistration.Registered)
                                            {
                                                message = name + " will be attending this event.";
                                                instructions = "You may update the information below and click 'Update' or click 'I'm not going'";
                                                action = "Update";
                                            }
                                            else
                                            {
                                                message = name + " will NOT be attending this event.";
                                                instructions = "Fill out the information below and click 'I'm going!'.";
                                                action = "I'm going!";
                                            }
                                            }
                                            <div>@message</div>
                                            <div style="font-size: smaller">@instructions</div>
                                            <div>
                                                <select name="traileroption">
                                                    <option value="1">I have space in my trailer for</option>
                                                    <option value="-1">I need space in a trailer for</option>
                                                </select>
                                                @Html.TextBoxFor(model => model.CurrentRegistration.TrailerSpace, htmlAttributes: new { style = "width: 20px" }) 
                                                horse(s)
                                            </div>
                                            <div>Comment (short):<br/>
                                            @Html.TextAreaFor(model => model.CurrentRegistration.Notes)
                                            </div>
                                            <div>@Html.CheckBoxFor(model => model.CurrentRegistration.Registered) Please register me for this event</div>
                                            <div class="disclaimer">
                                                This option is available only for riders that have given their registration information
                                                (including payment information) to Freedom Run
                                            </div>
                                            <input name="action" type="submit" value="@action" />
                                            @if (Model.CurrentRegistration.Registered)
                                            {
                                                <input type="submit" name="unregister" value="I'm not going'"/>
                                            }
                                        </div>
                                    }
                                    <div>
                                        Riders: <select name="newrider" onchange="javascript: document.forms[0].submit()">
                                                    <option value="0">Select...</option>
                                            @foreach (var rider in Model.Riders)
                                            {
                                                <option value="@rider.ID">@rider.Name</option>
                                            }
                                        </select>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="grid_5 bg-secondary2" data-wow-delay="0.4s">&nbsp;</div>
            </div>
            <div class="grid_6 wow fadeInRight bg-secondary1" data-wow-delay="0.4s">
                <div class="grid_1 box-cont1 mrg0 center">
                    <img src="~/images/location_icon.png" />
                </div>
                <div class="grid_5 bg-secondary1">
                    <h4 class="center">@Model.EventSite</h4>
                    @if (!String.IsNullOrWhiteSpace(Model.SiteURL))
                    {
                        <p class="icon-box-cont center"><a href="http://@Model.SiteURL" target="_blank">@Model.SiteURL</a></p>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.MapUrl))
                    {
                        <div class="center">
                            <iframe src="@Model.MapUrl" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary1 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_1 box-cont1 mrg0 center" data-wow-delay="0.2s">
                <img src="~/images/info_icon.png" />
            </div><!--/grid-->
            <div class="grid_11 wow fadeInDown" data-wow-delay="0.4s">
                <div class="markdown">@Html.Raw(Model.DescriptionHTML)</div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary2 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_6 bg-secondary1">
                <div class="grid_1 box-cont1 mrg0 center" data-wow-delay="0.2s">
                    <img src="~/images/riders_icon.png" />
                </div><!--/grid-->
                <div class="grid_5 wow fadeInDown" data-wow-delay="0.4s">
                    Rider list
                </div>
            </div>
            <div class="grid_6 bg-secondary1">
                <div class="grid_1 box-cont1 mrg0 center" data-wow-delay="0.2s">
                    <img src="~/images/results_icon.png" />
                </div><!--/grid-->
                <div class="grid_5 wow fadeInDown" data-wow-delay="0.4s">
                    Results list
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
